<!--
File:       grocery_list.html
Authors:    Danita Hodges
Purpose:    Grocery list for ingredients
Version:    1.0
Version Notes:
            1.0 - DH - Initial creation, display message when cart is empty
-->
{% extends 'reciplan/base.html'%}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 id="empty"></h2>
            <ul id="item_list" class="list-group">
                
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- Form to send grocery list to print -->
            <form method="POST">

            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    console.log('Grocery List page is working');

    if(localStorage.getItem('grocery_list')==null){

        EmptyCartMessage();

        var grocery_list = {};
        console.log('Grocery list stored');
    }else{
        grocery_list = JSON.parse(localStorage.getItem('grocery_list'));
        console.log('Grocery list started');
    }// end if else

    for(item in grocery_list){
        let name = grocery_list[item][2];
        let amount = grocery_list[item][0];
        let uom = grocery_list[item][1];

        itemString = `<li class="list-group-item d-flex justify-content-between align-items-center">{amount} {uom} {name}</li>`
        $('#item_list').append(itemString);
    }// end for

    $('#items').val(JSON.stringify(grocery_list));

    // Display grocery list is empty message on page load
    function EmptyCartMessage(){
        var message = "Your grocery list is empty.";
        document.getElementById("empty").innerHTML = message;
    }

</script>

{% endblock %}