<!--
File:       recipe_view.html
Authors:    Joshua Coe, Scott McClure, Danita Hodges
Purpose:    Search page for recipes
Version:    1.3
Version Notes:
            1.0 - JC - Initial creation, query
            1.1 - SM - Added conversion function and form
            1.3 - DH - Formal view
            1.4 - JC - Added metric/imperial toggle button and JS function
                       Removed unused table code
                       Added hidden input field for unit_conv
                       corrected variable to match view input
                       set default value for convert_y
            1.5 - JC - updated conversion table
                       added conditional for target yield
-->

{% extends 'reciplan/base.html'%}
{% block content %}

<style>
  #block{
    padding-left: 3%;
  }
</style>



<title>{{ recipe.title }}</title>

<div class="container" id="block">
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <img src="/media/{{ recipe.image }}" width="500px"/>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <h1>{{ recipe.title }}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <hr>
          {{ recipe.description }}
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 d-flex flex-row ">
          <h4>Original Yield: {{recipe.o_yield}}</h4>
        </div>
        <div class="col-md-8 d-flex flex-row ">
          <form method="POST" id="chyield">
            {% csrf_token%}
            <div class="form-row ">
              <div class="form-group col-md-12">
                <input id="unit_conv" name="unit_conv" type="hidden" maxlength="4" size="4" value="Metric">
                <label for="convert_y" ><h4>Target Yield:</h4></label>
                <!--Add conditional format for the target yield box-->
                {% if new_yield %}
                  <input id="convert_y" name="convert_y" type="text" maxlength="4" size="4" value={{new_yield}}> 
                {% else %}
                  <input id="convert_y" name="convert_y" type="text" maxlength="4" size="4" value={{recipe.o_yield}}>
                {% endif %}
                
                <button type="submit" class="btn btn-warning">Update</button>
              </div>
              <div class="row">
                <br>
              </div>
              <div class="row">
                <button type="button" id="unit_conv_btn" class="btn btn-warning" onclick="swap_conversion()">Metric</button> 
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Org Amt</th>
            <th scope="col">UOM</th>
            <th scope="col">Target Amt</th>
            <th scope="col">UOM</th>
            <th scope="col">Ingredient</th>
            <th scope="col"><!--Add to Cart--></th>
          </tr>
        </thead>
        <!--add conditional table fill for converted or original recipe-->
        {% if targs%}
          <tbody>
            {% for ingredient in targs %}
            <tr>
              <td>{{ ingredient.0 }}</td>
              <td>{{ ingredient.1 }}</td>
              <td>{{ ingredient.2 }}</td>
              <td>{{ ingredient.3 }}</td>
              <td>{{ ingredient.4 }}</td>
              <th scope="col">
                <button id="" class="btn cart btn-success">Add to Cart</button>
              </th>
            </tr>
            {% endfor %}
          </tbody>
      {% else %}
        {% for ingredient in ingredients %}
        <tr>
          <td>{{ ingredient.amt }}</td>
          <td>{{ ingredient.unit_of_measure }}</td>
          <td> - </td>
          <td> - </td>
          <td>{{ ingredient.name }}</td>
          <th scope="col">
            <button id="" class="btn cart btn-success">Add to Cart</button>
          </th>
        </tr>
        {% endfor %}
      {% endif %}
      </table>
    </div>
    <div class="col-md-12">
      <h2>Directions</h2>
      {{ recipe.directions }}
    </div>
  </div>
</div>

<script>
  function swap_conversion(){
    var current = document.getElementById("unit_conv_btn").innerHTML;
    if (current == 'Metric'){
      document.getElementById("unit_conv").value = "Imperial";
      document.getElementById("unit_conv_btn").innerHTML = "Imperial";
    } else {
      document.getElementById("unit_conv").value = "Metric";
      document.getElementById("unit_conv_btn").innerHTML = "Metric";
    }
  }
</script>

{% endblock %}