<!--
File:       search.html
Authors:    Joshua Coe, Danita Hodges
Purpose:    Search page for recipes
Version:    1.3
Version Notes:
            1.0 - JC - Initial creation, query
            1.1 - DH - Added recipes to database, layout, removed salutation;
                       salutation present in navbar, added styling, changed
                       results from 5 to 8
            1.3 - DH - Fixed errors from merge error
            1.4 - DH - Fixed search results alignment
            1.5 - DH - Added search dropdown
            1.6 - JC - Changed search dropdown to select list
                       Added my-list css class
            1.7 - JC - removed previous changes in dropdown
                       added in search for both ingredient and title functionality
-->

<!-- Additional styling -->
<style>
    .card-img-top {
        width: 100%;
        height: 10vw;
        object-fit: cover;
    }

    .card-title{
        font-weight: bolder;
    }

    #search_results{
        padding-left: 1%;
    }
    .my-select {
    background-color: #e6e042;
    color: #5F6162;
    border: 0 none;
    border-radius: 20px;
    padding: 6px 20px;
  }

  #block{
      padding-top: 2%;
  }
</style>

{% extends 'reciplan/base.html' %}
{% load static %}

{% block content %}
    <div class="container" id="block">
        <div class="row">
            <div class="col-md-11">
                <form class="card card-sm" action="{% url 'search' %}" method="POST">
                    <div class="card-body row no-gutters align-items-center">
                        <div class="col-md-7">
                            {% csrf_token %}
                            <input type="search" name='name' placeholder="Search" class="form-control form-control-borderless"/>
                        </div>
                        <div class="col-md-1">
                            <button class="btn btn-success" type="submit">Search</button>
                        </div>
                                               
                    </div>
                </form>
            </div>
        </div>
        <div class="row" id="search_results">
            <!--If there is a query item sent this will run-->
            <!--query only sent if the form is posted with input-->
            {% if query %}
                <!--If there are results this will display them in a list-->
                {% if results %}
                    <h2>Here are recipes containing " {{ query }} "</h2>
                    <div class="col-md-12">
                    {% for result in results %}
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="/media/{{result.image}}" alt="Card image cap">
                            <div class="card-body">
                                <div class="card-title">{{result.title}}</div>
                                <div class="card-text">{{result.description}}</div>
                                <a href="{% url 'detail' id=result.id %}" class="btn btn-primary">View</a>
                            </div>
                        </div>
                    {% endfor %}
                <!--No results for the word will display the below-->
                {% else %}
                    <h2>There are no recipes containing the word {{query}}</h2>
                    <!--A no result will display all of the recipes again-->
                    <h2>Here are some other recipes</h2>
                    {% for recipe in recipes %}
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="/media/{{recipe.image}}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{recipe.title}}</h5>
                                <p class="card-text">{{recipe.description}}</p>
                                <a href="{% url 'detail' id=recipe.id %}" class="btn btn-primary">View</a>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            {% else %}
                <!--this will display eight choices from the DB by default -->
                {% for recipe in recipes %}
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="/media/{{recipe.image}}" alt="Card image cap">
                        <div class="card-body">
                            <div class="card-title">{{recipe.title}}</div>
                            <div class="card-text">{{recipe.description}}</div>
                            <a href="{% url 'detail' id=recipe.id %}" class="btn btn-primary">View</a>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}